.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Home-stylings ***************************************************************************** */

.home::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;   
  width: 100%;
  height: 135%;
  background-image: url("./images/circuit1.jpg");
  background-size: cover;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.subHome {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  text-decoration: none;
  color: black;
  padding: 0;
  margin: 4vw;
  background-color: white;
  border-radius: 50%;
}

.link:hover {
  background-color: yellow;
}

.incandescentLink {
  position: absolute;
  left: 5vw;
  top: 5vw;
}

.linkSection {
  /* position: relative; */
  /* border: 1px solid black;
  border-radius: 50%;
  padding: 2vw;
  margin: 1vw;
  background-color: white; */
}

.linkSection h2 {
  /* border: 1px solid black; */
  /* background-color: white; */
}

.devices {
  background-color: white;
  width: 13vw;
  height: 13vw;
  padding: 2vw;
  margin: 0vw;
  border: 1px solid black;
  border-radius: 50%;
  opacity: .7;
}

.incandescent {
  padding: .25vw 2.6vw;
  position: absolute;
  opacity: 0.7;
  bottom: 4vw;
  left: 4.5vw;
  background-color: black;
  color: white;
}

.CFL {
  padding: .25vw 1.7vw;
  position: absolute;
  opacity: 0.7;
  bottom: 4vw;
  left: 4.6vw;
  background-color: black;
  color: white;
}

.tubeLight {
  padding: .25vw .5vw;
  position: absolute;
  opacity: 0.7;
  bottom: 4vw;
  left: 4vw;
  background-color: black;
  color: white;
}
/* Footer-stylings ***************************************************************************** */
.App-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 4vw;
  background-color: #222;
  height: 13vh;
  border: 1px solid red;

}

.App-footer > p {
  color: white;
}

.socialMediaIcons {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.icons {
  width: 4vw;
  height: 4vw;
  padding: 0;
  margin: 0;
}

.instagramIcon {
  display: flex;
  margin: .5vw;
  height: 3vw;
  width: 3vw;
}

.license-p {
  margin-right: 3vw;
  margin-left: 3vw;
}

